.div1 {
    background-image: linear-gradient(to bottom right, rgb(43, 43, 46), rgb(30, 30, 50));
    height: 400px;
    margin-top: 60px;
    margin-bottom: 60px;
}

.div1 h1 {
    padding-top:40px;
}

body {
    background-image: linear-gradient(to bottom right, rgb(22, 22, 22), rgb(30, 30, 40));
    }

h1 {
     font-size: 35px;
     text-align: center;
     color: rgb(0, 162, 255);
    }

h2 {
     font-size: 35px;
     text-align: left;
     color: rgb(0, 162, 255);
     padding-bottom: 80px;
     padding-left: 20px;
    }

p {
     text-align: center;
     font-size: 25px;
     color: white;
    }

p1 {
     text-align: center;
     font-size: 25px;
     color: white;
    }

p2 {
     text-align: center;
     font-size: 25px;
     color: white;
    }

p3 {
    color: green;
    padding_left: 20px;
    }

li, a {
        font-size: 30px;
        text-decoration: none;
        color: rgb(0, 162, 255);
    }

header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 25px;
    }

.nav_links {
        list_style: none;
    }

.nav_links li {
        display: inline-block;
        padding: 0px 10px;
    }

.smallclass {
        padding-left: 300px
}

.form {
        color: rgb(0, 162, 255);
        display: block;
        margin-left: auto;
        margin-right: auto;
}

.formdiv {
        padding-top: 20px;
}

.textclass {
        color: rgb(0, 162, 255);
}